.hero {
    background-color: var(--overlay);
    position: relative;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.hero::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url('../images/hero.jpg') no-repeat center center/ cover;
}

.hero .content {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}

.hero .content p:first-child {
    font-style: italic;
    font-size: .9rem;
}

.hero .content p:nth-child(2) {
    font-size: 1.9rem;
}

.hero .content p:nth-child(3) {
    font-size: 5rem;
    font-weight: 700;
}

.hero .content p:nth-child(4) {
    font-size: 2.2rem;
    font-style: italic;
}

.hero .button {
    width: 300px;
    margin: 1rem 0;
    color: #333;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.hero .button:hover {
    background-color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);
}

@media screen and (max-width: 940px) {
    .hero .content p:nth-child(3) {
        font-size: 2.6rem;
    }

    .hero .content p:nth-child(3) {
        font-size: 1.6rem;
    }
}
