.footer {
    width: 100%;
    background-color: #000;
    color: #eee;
    padding: 3rem 1rem;
}

.footer .container {
    max-width: 1240px;
    margin: auto;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul li{
    padding: 1rem;
}

.footer ul li a{
    color: #fff;
    transition: .27s ease-in;
}

.footer ul li a:hover{
    padding-bottom: 12px;
    border-bottom: 3px solid var(--secondray-color);
}

.copyrights {
    text-align: center;
    padding-top: 3rem;
}

.copyrights .line {
    margin-bottom: 1rem;
}